body {
  background-image: url("./Images/b3.jpg");
background-size: cover;

}
/*  Header tags */
h3,
h2{
  color: #eff5f6;
  	text-shadow:1px 1px 1px #3d768a;

}
.alert,
h1{
    margin:25px 45px;
  padding:20px 20px;

  text-align: center;
 	box-shadow: 0px 10px 14px -7px #dbe8eb;
	background:linear-gradient(to bottom, #93e0ec 5%, #ccdde0 100%);
	background-color:#89b4c2;
  color:#408c99;
	font-size:19px;
    opacity: 0.89;

}

h6{
    color: #3d97a9;
	padding:3px 2px ;
  	margin:25px 5px 0px;
	font-size:14px;
}

h4{
  box-shadow: 3px 4px 50px 2px #3d97a9;
	background-color:transparent;
	border-radius:51%;             
	border:1px solid #e8eced;
	cursor:pointer;
	font-size:17px;
	font-weight:bold;
	padding:18px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #eaf4f6;
  text-align: center;


}
/*  about info */

.font-weight-light{
  padding:20px 10px;
    margin:15px 25px;

  text-align: center;
 	box-shadow: 0px 10px 14px -7px #dbe8eb;
	background:linear-gradient(to bottom, #93e0ec 5%, #ccdde0 100%);
	background-color:#89b4c2;
  color:#408c99;
	font-size:19px;
    opacity: 0.89;


}
/*  about info */



/*  carousel info */

.bg-color{
  padding:20px 20px;
    margin:45px 55px;

  text-align: center;
 	box-shadow: 0px 10px 14px -7px #dbe8eb;
	background:linear-gradient(to bottom, #93e0ec 5%, #ccdde0 100%);
	background-color:#89b4c2;
  color:#408c99;
	font-size:15px;
    opacity: 0.79;


}
/*  carousel info */

/*  border on my pic info */

.border{
    	padding:45px 35px;
}
/*  border on my pic info */


/*  skills info */


.myButton {
	display:inline-block;
	cursor:pointer;
	color:#408c99;
	font-size:14px;
	font-weight:bold;
	padding:2px 2px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #d1ecf2 5%, #93e0ec 100%);
	background-color:#408c99;
    opacity: 0.69;

}
.myButton:active {
	position:relative;
	top:1px;
}

/*  skills info */


#aboutme {
  	padding:10px 12px;
  }

  #education{

  	padding:10px 32px;

}
#experience{
  	padding:10px 32px;

}
#skills{
  	padding:10px 32px;
}

#Business {
    	padding:13px 32px;

}
#projects{

    	padding:10px 32px;
}

#interests{

    	padding:10px 32px;
}


/* nav edit */
.nav-item{
  	background-color:transparent; 
    justify-content: space-around;

}
.nav-link{

	background-color:#ABD7DE;
  color:#408c99;
    opacity: 0.86;

}
.navbar-toggler{

	background-color:#ABD7DE;
    opacity: 0.86;

}
/* nav edit */

/* project button */

.myButton1 {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	box-shadow: 0px 10px 14px -7px #c9e4e9;
	background:linear-gradient(to bottom, #e1ecf4 5%, #ccdde0 100%);
	background-color:#e9eff1;
	display:inline-block;
	cursor:pointer;
	color:#38948f;
	padding:5px 5px;
  margin:5px 5px;

	text-shadow:0px 1px 0px #3d768a;
    opacity: 0.69;

}
.myButton1:hover {
	background:linear-gradient(to bottom, #d1ecf2 50%, #93e0ec 100%);
	background-color:#408c99;
    opacity: 0.9;

}
.myButton1:active {
	position:relative;
	top:1px;

}

/* project button */

/* education button */

.btn-primary{
  	background:linear-gradient(to bottom, #d1ecf2 50%, #A34EF7 100%);
  	padding:5px 5px;
    opacity: 0.79;

}
/* education button */


/* footer info */

footer{
  color:#A34EF7;
  margin:25px 25px;
  text-align: center;
	background-color:transparent;
  opacity: 0.6;
  padding:25px 15px;
  margin:35px 15px;
  font-size:16px;
	font-weight:bold;
  text-shadow:1px 1px 1px #edf5f8;

}
/* footer info */


/* footer nav bar */

.nav-pills{
justify-content: space-around;

}

/* footer nav bar */


/* location info */

figcaption{
  	color:#408c99;
	font-weight:bold;

}
/* location info */

/* project info */


.projectc{
  margin:45px 45px;
  padding:20px 20px;

  text-align: center;
 	box-shadow: 0px 10px 14px -7px #dbe8eb;
	background:linear-gradient(to bottom, #93e0ec 5%, #ccdde0 100%);
	background-color:#89b4c2;
  color:#408c99;
	font-size:19px;
    opacity: 0.89;
.
}

button1{
    border-radius: 50% 50% ;

	box-shadow: 0px 10px 14px -7px #c9e4e9;
	background:linear-gradient(to bottom, #55CBDD 5%, #ccdde0 100%);
	background-color:#89b4c2;
	display:inline-block;
	cursor:pointer;
	color:#408c99;
	padding:20px 20px;
  margin:25px 25px;
  text-shadow:0px 1px 0px #3d768a;
  opacity: 0.89;

}

/* project info */

.card,
  .accordion{
      opacity: 0.79;

  }


@media only screen and (max-width: 600px) {
  .nav-pills{
        display: none;

  }
  body {

background-size: cover;
  background-attachment: fixed;
  
}
}

  
.astrodivider {
  margin:64px auto;
  width:400px; 
  max-width: 100%;
  position:relative;
}

.astrodividermask { 
    overflow:hidden; height:20px; 
}

.astrodividermask:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
        border-radius:125px / 12px;
       box-shadow:0 0 8px #55CBDD;
}
.astrodivider span {
    width:50px; height:50px; 
    position:absolute; 
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
   box-shadow:0 2px 4px #55CBDD;
}
.astrodivider i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed #68beaa;
    text-align:center;
    line-height:40px;
    font-style:normal;
     color:#55CBDD;
}